PORT=5000
NODE_ENV=production
RENDER=true
MONGODB_URI=mongodb+srv://Falcon:x7gTSQpn9N1nMRbv@cluster0.8rvjkbq.mongodb.net/juanhost
JWT_SECRET=juanhost_super_secret_key_change_in_production_2024
JWT_EXPIRE=7d
PLATFORM_NAME=JuanHost
PLATFORM_DOMAIN=juanhost.onrender.com
FRONTEND_URL=https://juanhost.onrender.com
RENDER_EXTERNAL_URL=https://juanhost-g0kn.onrender.com
ADMIN_EMAIL=admin@juanhost.com
WORK_DIR=/tmp/juanhost-builds
APPS_DIR=/tmp/juanhost-apps
